*, *::after, *::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Inter', sans-serif;
}

body::-webkit-scrollbar {
  width: 12px;
}

body::-webkit-scrollbar-thumb {
  background-color: rgb(119, 119, 119);
  border: 2px solid #eee;
  border-radius: 8px;
}
body::-webkit-scrollbar-track {
  background: #eee;
}

a {
    text-decoration: none;
    color: #fff;
}
