*, *::after, *::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, button {
    font-family: 'Inter', sans-serif;
}

body::-webkit-scrollbar {
  width: 12px;
}

*::-webkit-scrollbar-thumb {
  background-color: #eee;
  border: 2px solid rgb(119, 119, 119);
  border-radius: 8px;
}
*::-webkit-scrollbar-track {
  background: rgb(119, 119, 119);
}


a {
    text-decoration: none;
    color: #fff;
}
